<div class="container w0">
    <div class="col-sm-offset-5 mt-3" style="font-family: 'Calibri Light';">
      <h3 align="center">Login</h3><hr>
  
      <form class="col-lg-5 md-form needs-validation" method="POST">
        <div class="md-form">
          <input type="email" class="form-control" id="" required>
          <label for="email">Email</label>
        </div>
        <div class="md-form">
          <input type="password" class="form-control" id="" required>
          <label for="password">Password</label>
        </div>
        <button class="btn btn-primary btn-md" id="btn-one" type="submit" formaction="homepage">login</button>
        <button class="btn btn-md btn-warning" type="submit" formaction="admin_login">Admin login</button>
      </form>
      <h6>Are you a new user? <a routerLink="user_registration" routerLinkActive="active">Click here.</a> </h6>
      <h6><u><a routerLink="forgot_password" routerLinkActive="active">Forgot your Username or Password.</a></u></h6>
    </div>
  </div>
